

body{
  background-color: hsl(217, 54%, 11%);
  text-align: center;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  padding-top: 70px;

}

.card{

    background-color: hsl(216, 50%, 16%);
    position: relative;
    margin: 90px auto;
    height: 570px;
    width: 350px;
    padding-top: 23px;
    border-radius: 4%;
}

.cube-image{
    position: relative;
    border-radius: 3%;
    height: 300px;
    width: 300px;

}

.eye-icon{
  position: absolute;
  top: 120px;
  right: 120px;
}

.image-overlay{
  position: absolute;
  top: 22px;
  left:24px;
  background: hsl(178, 100%, 50%);
  height: 300px;
  width: 300px;
  border-radius: 3%;
  opacity: 0;

}

.image-overlay:hover{
  opacity: 0.6;
}



p{
  font-size: 18px;
  color: hsl(215, 51%, 70%);
  text-align: left;
}



h3{

  color: hsl(0, 0%, 100%);
  text-align: left;
  margin-left: 26px;

}

h3:hover{
  color: hsl(178, 100%, 50%);
}

.data{
  margin-left: 26px;

}

.time{

  font-size: 15px;
  display: inline;

  position: relative;
  left: 62px;



}

.crypto{
  color: hsl(178, 100%, 50%);
  display: inline;
  position: relative;
  right:60px;

  padding-bottom: 16px;


}


hr{
    border-color: hsl(215, 32%, 27%);
    border-style: none;
    border-top-style: solid;
    border-top-width: 3px;
    width: 300px;
    margin-top: 30px;
}

.avatar{

height:32px;
position: relative;
left: 22px;
top: 12px;
float: left;
border-style: solid;
border-radius: 100%;
border-color: white;
border-width: 1px;



}

.creation{
  display: inline-block;
  position: relative;
  right: 22px;


}

.creator-name{
  color: hsl(0, 0%, 100%);
}

.creator-name:hover{
  color: hsl(178, 100%, 50%);
}


.ethereum-icon{
  margin-right: 5px;

}

.clock{

  margin-right: 5px;
  position: relative;
  top: 4px;
}



.attribution {
  font-size: 15px;
  text-align: center;
  position: relative;
  bottom: 20px;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
